<div class="container" *ngIf="!dirty">
  <div class="row">
    <div class="col-md-12">
      loading...
      </div>
  </div>
</div>

<div class="container" *ngIf="dirty && true">
  <div class="row">
    <div class="col-md-12">
      <input class="form-control" type="text" [(ngModel)]="inputVal"/>
      <div>
        {{ inputVal}}
      </div>
      <br>
      <br>
    </div>
    <div class="col-md-12">
      <table class="table table-hover table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users; let i = index" (click)="rowClick(i)">
          <ng-container>
            <!--  not in view! just for logic use-->
          </ng-container>
            <td scope="row" [style.background]="user.color">{{i + 1}}</td>
            <td [width]="user.width">{{user.first}}</td>
            <td>{{user.last}}</td>
            <td>{{user.email}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
